body {
	background: url("background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;

	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-align: center;
}

#board {
	width: 450px;
	height: 450px;
	background-color: lightblue;
	border: 5px solid slategray;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
}

h1 {
	color: cadetblue;
}

#board img {
	/* each pieces is 50 by 50 as we have 9 by 9 grid and has a board of 450 by 450. So, 450 x 9 = 50 of each width & height of every pieces */
	width: 50px;
	height: 50px;
}
